{% extends 'template.html.twig' %}

{% block title %}
    Tab
{% endblock %}

{% block body %}
    <table>
        {% for note in notes %}
        <tr>
            <td>{{ note }}</td>
        </tr>
        {% endfor %}
    </table>
<div>
    <p>Nombre de notes : {{ notes|length }}</p>
    <p>Note minimal : {{ min(notes) }}</p>
    <p>Note maximal : {{ max(notes) }}</p>
</div>
{% endblock %}